header {
    height: 5rem;
    background: #f48fb1;
    border-radius: 2rem 2rem 2px 2px;

    color: white;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}